@use "../util" as *;
.dropdown-toggle::after {
	display: none;
}
.dropdown-menu {
	border: 1px solid var(--gray-3);
	border-radius: 0;
	padding: 0;

	li {
		padding: 0 16px;

		&:not(:last-child) .dropdown-item {
			border-bottom: 1px solid var(--gray-3);
		}
	}
}

.dropdown-item {
	@extend %transition;
	padding: 16px 0;
	color: var(--gray-2);

	// &:nth-child(1) {
	// 	background-color: turquoise;
	// }

	&:hover,
	&:focus {
		color: var(--dark);
		background-color: transparent;
	}
}

.card-footer {
	background-color: transparent;
	border-top: none;
}

.card p {
	margin-bottom: 0;
}

/* Pagination */
.page-link {
	@extend %transition;
	color: var(--dark);
	font-family: var(--title-font);
	font-size: rem(16);
	border: none;
	border-right: 1px solid var(--gray-3);
	font-weight: bold;
	padding: 8px 24px;

	&:hover {
		z-index: 2;
		color: var(--dark);
		background-color: var(--gray-3);
		border-color: var(--gray-3);
	}

	&:focus {
		z-index: 3;
		color: var(--white);
		background-color: var(--dark);
		border-color: var(--gray-3);
		box-shadow: none;
	}
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
	border: none;

	&:hover {
		z-index: 2;
		color: var(--gray-2);
		background-color: transparent;
		border-color: transparent;
	}

	&:focus {
		z-index: 3;
		color: var(--gray-2);
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
	}
}

.page-item:not(:first-child) .page-link {
	margin-left: 0;
}

.page-item.active .page-link {
	z-index: 3;
	color: var(--white);
	background-color: var(--dark);
	border-color: var(--gray-3);
	box-shadow: none;
}

.page-item.disabled .page-link {
	color: var(--gray-3);
	pointer-events: none;
	border-color: transparent;
}

form .btn {
	background-color: var(--dark);
	border: none;

	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		background-color: var(--gray-2);
		box-shadow: none;
		border: none;
	}
}
