@use "../util" as *;

.card {
	text-align: center;

	&__img {
		margin-bottom: 30px;
	}

	&__title {
		font-family: var(--title-font);
		text-transform: capitalize;
		color: var(--dark);
		line-height: 35px;
		font-size: rem(24);
	}

	&__text {
		font-family: var(--text-font);
		color: var(--grey);
		font-size: rem(15);
		line-height: 26px;
		margin-bottom: 20px;
	}

	&__readbtn {
		font-family: var(--text-font);
		font-size: rem(14);
		text-transform: uppercase;
		color: var(--light-gray);
		text-decoration: none;
		line-height: 26px;
		transition: all ease 0.3s;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background-color: var(--dark);
			transition: all ease 0.3s;
		}

		&:hover {
			color: var(--dark);
			&::after {
				width: 100%;
			}
		}
	}
}
