@use "../util" as *;

.card {
	&__title {
		font-family: var(--title-font);
		color: var(--dark);
		font-size: rem(24);
		text-transform: capitalize;
		font-weight: bold;
	}

	&__text {
		color: var(--grey);
		font-size: rem(15);
		line-height: 26px;
	}

	&__readbtn {
		@extend %transition;
		font-size: rem(14);
		color: var(--gray-2);
		line-height: 26px;
		position: relative;

		&::after {
			@extend %transition;
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 2px;
			background-color: var(--dark);
		}

		&:hover {
			color: var(--dark);
			&::after {
				width: 100%;
			}
		}
	}
}

.card-category {
	color: var(--gray-2);
	font-size: rem(14);
}
