@use "../util" as *;

.footer {
	&__social {
		display: flex;
		justify-content: center;
		gap: 40px;
		flex-wrap: wrap;
		max-width: 600px;
		margin: 45px auto;

		li {
			@extend %transition;
			display: inline-block;

			&:hover {
				color: var(--gray);
			}
		}
	}

	&__link {
		@extend %transition;
		font-family: var(--title-font);
		font-size: rem(14);

		&:hover {
			color: var(--gray-2);
		}

		.fab {
			font-size: 20px;
		}
	}

	.fab {
		margin-right: 8px;
	}

	&__text {
		color: var(--gray-2);
	}
}
