@use "../util" as *;

.footer {
	&__social {
		display: flex;
		justify-content: center;
		gap: 40px;
		flex-wrap: wrap;
		max-width: 600px;
		margin: 45px auto;

		li {
			@extend %transicion;
			display: inline-block;

			&:hover {
				color: var(--gray);
			}
		}
	}

	&__link {
		font-family: var(--title-font);
		font-size: rem(14);
	}

	.fab {
		margin-right: 8px;
	}

	&__text {
		color: var(--light-gray);
	}
}
