@use "../util" as *;

.contenedor_busqueda {
	border: 1px solid grey;
	padding: 15px;
	max-width: 200px;

	form {
		> * {
			width: 100%;
			display: block;
			// padding: 10px;
			font-weight: 500;
		}

		button {
			margin-top: 15px;
			border: none;
			cursor: pointer;
			font-size: rem(16);
			// line-height: 1.2;
			letter-spacing: 1px;
		}
	}
}

.post__body a {
	@extend %transition;
	color: var(--dark);
	text-decoration: underline;
}

.post__body a:hover {
	color: var(--gray-2);
}

.ratio,
.ratio-21x9 {
	background-size: cover;
	background-position: center;
}
