:root {
	--dark: #151515;
	--grey: #717171;
	--gray-2: #a1a1a1;
	--faded-gray: #e1e1e1;

	--white: hsl(0, 0%, 100%);
	--dark: hsl(0, 0%, 8%);
	--dark-fade: rgba(0, 0, 0, 0.35);
	--gray: hsl(0, 0%, 44%);
	--gray-2: hsl(0, 0%, 63%);
	--gray-3: hsl(0, 0%, 88%);
	--faded-gray: hsl(0, 0%, 88%);
}
